.container {
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
}

.contentTasks {
    margin: 30px 30px;
    width: 100%;
    height: 100%;
}

.main {
    padding: 30px;
}


form {
    /* width: 100%;
    height: 100%; */
    display: flex;
    flex-direction: column;
    gap: 3;
}

mat-form-field {
    margin-bottom: 30px;
}