.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #3f51b5;
}


.content {
    padding: 20px;
    display: flex;
    text-align: center;
    width: 50%;
    border-radius: 1%;
    background-color: white;
}

img {
    width: auto;
}

.form {
    display: flex;
    flex-direction: column;
    width: 100%;
    
}

.form>h1 {
    padding-top: 40px;
    font-size: 50px;
    
}

form{
    display: flex;
    flex-direction: column;
    width: 100%;
}

mat-divider {
    padding-bottom: 40px;
}

mat-form-field {
    margin: 0px 0 5px 0;
}

.fictures{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: small;
}
.reset-password > a{
    text-decoration: none;    
    color: black;
    
}

@media (max-width: 1700px) {
    .img{
        display: none;
    }
    .content{
        display: flex;
        flex-direction: column;
        width: 80%;
    }
}