<div class="container">
    <div class="content mat-elevation-z8">
        <div class="img">
            <img matCardImage src="../assets/img/Checklist.gif">
        </div>
        <div class="form">
            <h1>Web Task</h1>
            <h5>A sua lista de tarefas</h5>
            <mat-divider></mat-divider>
            <form [formGroup]="formLogin">
                <mat-form-field appearance="outline">
                    <mat-label>Login</mat-label>
                    <input matInput placeholder="Informe seu Login" formControlName="email">
                    <mat-icon matSuffix>person</mat-icon>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Senha</mat-label>
                    <input matInput placeholder="Informe sua Senha" type="password" formControlName="password">
                    <mat-icon matSuffix>key</mat-icon>
                </mat-form-field>
            </form>
            <div class="fictures">
                <div class="remember">
                    <mat-checkbox class="example-margin">Lembrar</mat-checkbox>
                </div>
                <div class="reset-password">
                    <a href="#">Esqueci Minha Senha</a>
                </div>
            </div>

            <button mat-raised-button color="primary" (click)="login()">Logar</button>
        </div>
    </div>
</div>