.container {
    height: 100%;
    width: 100%;

}

mat-drawer {
    width: 15%;
    background-color: #3f51b5;
}

mat-toolbar {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;

    margin: 0;
    padding: 0;
}

mat-toolbar-row {
    justify-content: center;
    margin-bottom: 50px;
    background-color: #3f51b5;
}

.mat-fab {
    /* margin: 30%; */
    background-color: white;
}

@media (max-width: 1700px) {
    mat-drawer {
        /* width: 0%; */
    }
}