<div class="container">

    <div class="main">
        <mat-card>
            <div class="menu">
                <div class="button-and-title">
                    <button mat-icon-button (click)="openSidenav()"><mat-icon>menu</mat-icon></button>
                    <h1>Tarefas</h1>
                </div>
                <h6>* Listagem de todas as tarefas</h6>
            </div>
        </mat-card>
    </div>

    <div class="body">
        <mat-card>
            <mat-accordion>
                <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false"
                    *ngFor="let taks of listTasks">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            {{taks.name}}
                        </mat-panel-title>
                        <mat-panel-description>
                            <mat-chip-row *ngIf="taks.finish; else falseFinish"><mat-icon
                                    class="icon-status">check</mat-icon></mat-chip-row>
                            <ng-template #falseFinish>
                                <mat-chip-row><mat-icon class="status-pendente">close</mat-icon></mat-chip-row>
                            </ng-template>
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <p>{{taks.description}}</p>
                    <h6><strong>Status:</strong><span class="icon-status" *ngIf="taks.finish; else statusFinish">
                            Finalizada</span></h6>
                    <ng-template #statusFinish>
                        <span class="status-pendente"> Pendente</span>
                    </ng-template>
                    <h6><strong>Prioridade:</strong><span> {{taks.priority}}</span></h6>
                </mat-expansion-panel>
            </mat-accordion>
        </mat-card>
    </div>
</div>