.container {
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
}

.contentTasks {
    margin: 30px 30px;
    width: 70%;
    height: 100%;
    border-radius: 1%;
    /* background-color: #b2b2b2; */
}

.contentDate {
    margin: 30px 30px;
    width: 30%;
    height: 100%;
    background-color: #b2b2b2;
}